body {
  font-family: 'Rajdhani', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

.top-container {
  display: flex;
  align-items: flex-start;
}

.logo {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  height: 300px;
  width: 400px;

}

.navbar {
  float: right;
  list-style-type: none;
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.navbar a {
  color: rgba(255, 255, 255, 0.884);
}

/*Frontapge*/
h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  margin-top: 270px;
  color: white;
}

.frontpagemovies {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
}

.frontpagemovies a {
  text-decoration: none;
}

.frontpagemovies img {
  display: inline;
  height: 250px;
  width: 175px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.493);
  margin: 1%;
}

.movies2 {
  margin-top: 2%;
}

.movies2 img {
  display: inline;
  height: 250px;
  width: 175px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.541);
  margin: 1%;
}

.frontpagemovies img:hover {
  transform: scale(1.1);
}

/*aboutmov page */
#aboutmovimg {
display: inline-block;
margin-top: 10%;
margin-left: 7%;
margin-right: 20%;
height: 350px;
width: 650px;
border: solid 1px white;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 92, 168);
  width: 100vw;
  height: 70px;
}

.elements {
  display: inline-block;
  width: 33%;
  color: #ffffff;
}

footer p {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}



footer img {
  margin-bottom: -7px;
  height: 30px;
  width: 30px;
  color: #ffffff;
}

@media screen and (max-width:780px) {
  .footer {
    max-width:780px;
  }
  
  .elements {
      width: 100%;
      display: block;
  }

  .frontpagemovies,.movies2 {
      display: block;
      width: 80%;
      margin: 0 auto;
      text-align: center;
  }

  body {
      text-align: center;
  }

  .logo {
      height: auto;
      max-width: 80%;
      max-height: 70%;
  }

  .content p {
      margin: 0 auto;
      margin-left: 20px;
      margin-right: 20px;
      padding-right: 0;
      padding: 10%;
  }

  .button {
      margin: 0;
  }
}