body {
  background-image: url("https://images.unsplash.com/photo-1493804714600-6edb1cd93080?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  background-blend-mode: lighten;
  font-family: 'Rajdhani', sans-serif;
}

.logo {
  float: left;
  top: 0;
  left: 3;
  height: 300px;
  width: 400px;

}

.navbar {
  float: right;
  list-style-type: none;
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.navbar a {
  color: rgba(255, 255, 255, 0.884);
}

/*Frontapge*/
h2 {
  margin-top: 25%;
  margin-left: 10%;
  color: white;
}

.frontpagemovies {
  margin-top: 7%;
  margin-left: 30%;
}

.frontpagemovies a {
  text-decoration: none;
}

.frontpagemovies img {
  display: inline;
  height: 250px;
  width: 175px;
  box-shadow: 5px 10px darkslategrey;
  margin: 1%;
}

.movies2 {
  margin-top: 2%;
}

.movies2 img {
  display: inline;
  height: 250px;
  width: 175px;
  box-shadow: 5px 10px darkslategrey 0.4;
  margin: 1%;
}

.frontpagemovies img:hover {
  transform: scale(1.1);
}

/*aboutmov page */
#aboutmovimg {
display: inline-block;
margin-top: 10%;
margin-left: 7%;
margin-right: 20%;
height: 350px;
width: 650px;
border: solid 1px white;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 92, 168);
  opacity: 0.6;
  width: 100vw;
  height: 50px;
  max-width: 1670px;
  max-height: 80px;
  margin-top: 15%;
  
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
  font-size: 20px;
  color: #ffffff;
  padding-right: 5%;
  padding-left: 5%;
}

footer img {
  margin-bottom: -7px;
  height: 30px;
  width: 30px;
}