/*GLOBAL*/
body {
  font-family: 'Rajdhani', sans-serif;
  background-image: url("pawel-czerwinski-NWK_7U4KACc-unsplash.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

.top-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.navbar {
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.navbar a {
  color: rgba(255, 255, 255, 0.884);
}

.logo {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 30px;
  height: 300px;
  width: 400px;
}

/*Frontapge*/
h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  margin-top: 270px;
  color: white;
}

.frontpagemovies {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.frontpagemovies a {
  text-decoration: none;
}

.frontpagemovies img {
  display: inline;
  height: 250px;
  width: 175px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.493);
  margin: 1%;
}

.movies2 {
  margin-top: 2%;
}

.movies2 img {
  display: inline;
  height: 250px;
  width: 175px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.541);
  margin: 1%;
}

.frontpagemovies img:hover {
  transform: scale(1.1);
}

/*ABOUTMOVIE page */
.aboutmov {
  clear: left;
  padding-top: 20px;
  padding-bottom: 5px;
  margin: 0 auto;
  height: 350px;
  width: 700px;
}

.aboutmov a {
  text-decoration: none;
}

#aboutmovimg {
  margin: 0 auto;
  height: 350px;
  width: 650px;
  border: solid 1px white;
}

/*informationalBTNS*/


.infobtns {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 0%;
  margin-left: 115px;
}

.btncontainer {
  height: 70px;
  width: 90px;
  display: inline;
  margin: 0 auto;
}

.btncontainer a {
  text-decoration: none;
}

.rottencontainer,
.imdbcontainer {
  display: inline;
  margin: 0 auto;
}

.infobtns .images {
  width: 60px;
  height: 40px;
  border-radius: 10%;
  padding: 10px;
}

.cartbtn {
  display: inline;
  width: 95px;
  height: 65px;
  padding-top: 5px;
  margin: 0 auto;
  margin-left: 220px;
}

.cartimage {
  width: 95px;
  height: 65px;
  padding: 10px;
  margin-top: 10px;

}

.info-content {
  margin: 0 auto;
  margin-left: 31%;
  margin-top: 100px;
  color: #ffffff;
  width: 400px;
  padding-bottom: 150px;
}

.info-content p {
  font-size: 30px;
}


/*PURCHASE*/
.order-card {
  clear: left;
  margin: 0 auto;
  height: 400px;
  width: 500px;
  background-color: rgba(26, 29, 31, 0.708);
}

.buymovie {
  display: inline;
  margin: 0 auto;
  height: 200px;
  width: 150px;
}

.moviesummary {
  display: inline;
  width: 60px;
  color: #ffffff;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 92, 168);
  width: 100vw;
  height: 70px;
  margin-bottom: -20px;
}

.elements {
  display: inline-block;
  width: 33%;
  color: #ffffff;
}

footer p {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

footer img {
  margin-bottom: -7px;
  height: 30px;
  width: 30px;
  color: #ffffff;
}

@media screen and (max-width:780px) {

  .footer {
    max-width: 780px;
    margin-bottom: -20px;
  }

  .elements {
    width: 100%;
    display: block;
  }

  .frontpagemovies,
  .movies2 {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  body {
    text-align: center;
  }

  .logo {
    height: auto;
    max-width: 80%;
    max-height: 70%;
  }

  .content {
    width: auto;
  }

  .content p {
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
    padding: 10%;
  }

  .button {
    margin: 0;
  }
}